In [2]:
# Análisis Exploratorio de Datos (EDA)

## Cargar el Archivo de Datos

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ruta al archivo de datos

file_path = 'C:/Users/Arley/Documents/Nueva carpeta/data/Ventas.parquet'



# Cargar el archivo .parquet
df = pd.read_parquet(file_path)

# Mostrar las primeras filas del DataFrame
df.head()

  Centro  Año/Mes Material  Cantidad  Artículo TALLA           COLOR
0   T083  2022|10  4224231       1.0  CAMISETA    3T  Rosado 11-1408
1   FN50  2022|10  4224231       1.0  CAMISETA    3T  Rosado 11-1408
2   T084   2023|1  4224231       1.0  CAMISETA    3T  Rosado 11-1408
3   T049   2023|1  4224231       1.0  CAMISETA    3T  Rosado 11-1408
4   T097  2022|12  4224231       1.0  CAMISETA    3T  Rosado 11-1408